01- Crie um programa que conte de zero até cinco

In [1]:
x = 0
while (x<=5) :
    print(x)
    x += 1

0
1
2
3
4
5

02- Crie uma lista com cinco nomes e mostre cada um e seus respectivos números

In [3]:
nome = []
nome=[
    "Heloisa",
    "Takeshi",
    "Christopher",
    "Harvey",
    "Max",]
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Heloisa
1 Takeshi
2 Christopher
3 Harvey
4 Max

03- Crie uma lista com cinco nomes e organize de modo alfabetico, mostrando os seus respectivos números

In [5]:
nome = []
nome=[
    "Heloisa",
    "Takeshi",
    "Christopher",
    "Harvey",
    "Max",]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Christopher
1 Harvey
2 Heloisa
3 Max
4 Takeshi